@model IList<Global.ReportingRepository.model.RentalListViewReport>
<h2>Penyewaan</h2>
<table id='tblListPenyewaanContainer' cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td width="80%">
            <table id="tblListPenyewaan" cellpadding="0" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>No Penyewaan</th>
                        <th>Nama Pelanggan</th>
                        <th>Tanggal</th>
                        <th>Total</th>
                        <th>Sisa Tagihan</th>
                    </tr>
                </thead>
                <tbody> 
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.RentalNo, "DetailPenyewaan", new { rentalId = item.RentalId.ToString() })</td>
                            <td>@item.CustomerName</td>
                            <td>@item.TransactionDate</td>
                            <td>@item.Total.ToString("N")</td>
                            <td>@item.OutStanding.ToString("N")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td width="20%" valign="top">
            <div>
                @Html.ActionLink("Tambah Penyewaan", "AddPenyewaan", "Penyewaan")
            </div>
        </td>
    </tr>
</table>
