@model IList<Global.ReportingRepository.model.ReceiveListViewReport>
@{
    ViewBag.Title = "Penerimaan";
}

<h2>Pembayaran</h2>
<table id='tblListPenerimaanContainer' cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td width="80%">
            <table id="tblListPenerimaan" cellpadding="0" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>No Transaksi</th>
                        <th>Nama Pelanggan</th>
                        <th>Tanggal</th>
                        <th style="text-align:right;">Total Penerimaan</th>
                    </tr>
                </thead>
                <tbody> 
                    @foreach (var receive in @Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(receive.ReceiveNo,"Index","Penerimaan")</td>
                            <td>@receive.CustomerName</td>
                            <td>@receive.ReceiveDate.ToString("dd MMM yyyy")</td>
                            <td style="text-align:right;">Rp @receive.Total.ToString("N")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td width="20%" valign="top">
            <div>
                @Html.ActionLink("Tambah Penerimaan", "AddPenerimaan", "Penerimaan")
            </div>
        </td>
    </tr>
</table>